<div id="popup1" class="otogrd-modal-overlay">
        <div class="otogrd-modal-popup">
            <h2>Here i am</h2>
            <a class="otogrd-modal-close" href="#">&times;</a>
            <div class="otogrd-modal-content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
        </div>
    </div>

    <a class="button" href="#popup1">Let me Pop up</a>

 <style>
 .button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.otogrd-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.otogrd-modal-overlay:target {
  visibility: visible;
  opacity: 1;
}

.otogrd-modal-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.otogrd-modal-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.otogrd-modal-popup .otogrd-modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.otogrd-modal-popup .otogrd-modal-close:hover {
  color: #06D85F;
}
.otogrd-modal-popup .otogrd-modal-content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .otogrd-modal-popup{
    width: 70%;
  }
}
    </style>