*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.wrp-cnt
{
    background-image: url(../img/blur-blurred-background-bokeh-754262.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
}
.search-bar
{
    padding: 35% 0;
}

.srchbar
{
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.srchbar input
{
    width: 100%;
    max-width: 500px;
    color: #cfd8dc;
    font-size: 20px!important;
    line-height: 26px;
  
}
.srchbar button{
    display: none;
}
.m-title
{
    text-align: center;
    font-size: 48px;
    line-height: 52px;
    padding: 15px;
    color:#f5f5f5;
}
.response-bg
{
    background-image: url(../img/blur-blurred-blurred-background-1187974.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;  
}

.mrgn-tp{
 padding-top: 50px;    
}
.m-cast,
.m-yr,
.m-genre,
.m-runrime,
.m-plot,
.m-lang,
.m-direct,
.m-awards,
.m-imbdrating,
.download-subs,
.sr-ttle
{
    font-size: 20px;
    line-height: 26px;
    padding: 5px;
    color:#f5f5f5;
    text-transform: capitalize;

}
.search-results-cnt{
    padding: 75px 10px;
}
.tailer-video-cnt
{
    padding: 20px 0;
    text-align: center;
}
.g-pgloader-wr{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0px;
    left: 0px;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.g-pgloader{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}
.g-pgloader img{
    width: 600px;
    height: auto;
}
.g-pgloader-wr-hide{
    opacity: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .col-mrgns{
      margin: 0 auto;
  }
  .sr-postr-cnt{
      display:inline-block;
      height: 336px;
      text-align: center; 
  }
  .sr-postr-cnt img{
      width: 240px;
      height: 336px;
      object-fit: cover;
  }
  .sr-rslts-btn{
      margin: 15px 0;
  }
  .sr-rslts-inputbx{
      display: none;
  }
  .sr-ttle{
  min-height:63px; 
  }